.navigation {

	.sidenav {
		height: 100vh;
    width: 100%;
  	min-height: 100vh;
  	position: fixed;
  	z-index: 11;
    padding-top: 60px;
    top: 0;
  	background-color: rgba(0,0,0,.9);

  	@include desktop() {
  		width: 25%;
  	}

    transform: translateX(-150%);

  	&.opened { animation: slide-in-left + $settings; }
  	&.closed { animation: slide-out-left + $settings; }

  	@keyframes slide-in-left {
  		0% { transform: translateX(-150%) }
  		100% { transform: translateX(0%) }
  	}

  	@keyframes slide-out-left {
  		0% { transform: translateX(0%) }
  		100% { transform: translateX(-150%) }
  	}
	}

	.nav-scroll {
		position: relative;
    height: 100vh;
	}

  .btn-close {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1;

    @include desktop() {
      display: none;
    }
  }

	.nav-items {
		padding: 0;
		list-style-type: none;
		margin-bottom: 0;
    position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    margin-top: 0;

    .nav-item {
      border-bottom: 1px solid #444;
      cursor: pointer;

      a, span {
        padding: 20px;
        display: block;
        color: $white;
        text-decoration: none;
      }

      &:hover {
        background-color: darken($primary, 30%);

        a, span {
        }
      }
    }
	}
}
