$white: #ffffff;
$black: #000000;

$primary: #48fcff;

$blue: #14a7ea;
$green: #80a759;
$red: #df564c;
$ochre: #f6bc0c;
$purple: #951b81;
$yellow: #ffc02b;
$deep-orange: #eb6721;
$washed-orange: #fcac81;
$pale-green: #00b5ac;

$bg-grey: #f2f2f2;
$very-light-grey:	#eeeeee;
$lighter-grey: #e5e5e5;
$medium-grey: #cccccc;
$light-grey: #bbbbbb;
$lightish-grey: #aaaaaa;
$grey: #888888;
$dark-grey: #777777;
$darkest-grey: #333333;
